/* COMMON */
body {
  color: #333;
  /*브라우저의 기본 폰트는 16px 이지만 코드에 명시적으로 나타냄*/
  font-size: 16px;
  /*글자의 두께는 기본적으로 100 ~ 900 100단위로 9단계가 존재
    400이 가장 일반적인 두께*/
  font-weight: 400;
  /*글 높이는 글자의 1.4배.
  글자의 크기가 1이므로 글자 위, 아래로 글자 높이의 0.2배에 해당하는 여백이 생성*/
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
}


/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}
header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  /*
    !) 많은 브라우저에서 자주 사용되는 개념이다.
    width를 일정 크기로 지정해놓고
    margin의 좌우를 auto로 지정하면 다음과 같은 특징을 가진다
    1. 가운데 정렬
    2. 브라우저에서 화면을 축소했을 때, width가 표시하는 만큼만 표시된다. (가운데 정렬로)
  */
  position: relative;
}

header .logo {
  height: 75px;
  width: 75px;
  /*
    position absolute는 "위치상 부모요소"를 기준으로 위치를 지정
    위치상 부모요소란 position값이 static(default)이 아닌 첫 부모요소
    position: absolute 사용시 반드시 부모요소에 position값이 지정돼있는지 확인
  */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* 다른 작업을 위해 잠시 이미지를 화면에서 안보이게 하고 싶다면
  display: none; 을 입력하면 된다. */
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

/* 그냥 ul.menu를 하게되면 나중에 class가 menu인 ul태그를 새로 생성했을 때
그 부분에 스타일이 적용되어버릴 수 있으므로 구체적으로 어느 위치에 있는
ul.menu 인지 명시해주는 것이 좋다 */
header .sub-menu ul.menu {
  display: flex;
}
header .sub-menu ul.menu li {
  font-family: Arial, sans-serif;
  position: relative;
}
header .sub-menu ul.menu li:nth-child(n + 2)::before {
  width: 1px;
  height: 12px;
  display: block;
  content: "";
  background-color: #d5d5d5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width .4s;
}
header .sub-menu .search input:focus {
  width: 150px;
  border-color:#669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: display .4s;
}
header .sub-menu .search.focused .material-icons {
  display: none;
}
header .main-menu{

}
header .main-menu .item{

}
header .main-menu .item .item__name{

}
header .main-menu .item .item__content{

}










